@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  color: #efeff3;
  background: linear-gradient(
    90deg,
    rgba(14, 18, 34, 1) 0%,
    rgb(19, 40, 46) 68%,
    rgba(30, 34, 61, 1) 100%
  );
}
